.about{
    display: flex;
    flex-direction: column;
}
.cta-section{
    text-align: center;
    margin: 3rem 3rem 8rem 3rem;
}
.cta-section h2{
    margin-bottom: 3rem;
}
.about-content{
    margin: 3rem 3rem 0 3rem;
}
