.contact-container{
    margin: 0 3rem 4rem 3rem;
}
.contact-form input{
    border: 1px solid #1F3D47;
    margin: 10px 10px 10px 0px;
    padding: 10px;
  }
  .contact-form{
    display: flex;
    text-align: left;
    margin: 3rem 0 3rem 0 ;
  }
  .contact-form > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .contact-info{
    margin: 0 2rem 0 2rem;
  }
  .contact-message{
    margin: 0 2rem 0 2rem;
  }
  .contact-container .cta-button{
    font-size: var(--text-size-paragraph);
    border: none;
    padding: 0.75rem 4.25rem;
    width: 15rem;
    margin-left: 2rem;
}