/*desktop*/
@media (max-width: 680px) {
    .nav-page{
        flex-direction: column;
        gap: 1.2rem
    }    
  }

@media (max-width: 600px) {
    .separator-container {
      background-image: url('Images/Man-bicycle-mobile.jpg');
      min-height: 100vh
    }
    .under-container {
        flex-direction: column;
        align-items: center;
    }
    .hero-home {
        background-image: url('Images/Hiking-in-the-Rain-Quotes:mobile.jpg');
      }
    .hero-shop {
        background-image: url('Images/Men-ski-mobile.jpg');
      }
  }

@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  }
 
@media (max-width: 1024px) {
    .hero-home {
      background-image: url('Images/Hiking-in-the-Rain-Quotes-tablet.jpg');
    }
    .hero-shop {
        background-image: url('Images/Men-ski-tablet.jpg');
      }
  }
 
@media (max-width: 880px){
    .product-info-content{
        flex-direction: column;
    }
  }

  /*mobile*/
@media (min-width: 1150px) {
    .fa-solid{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }    
    .header-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .menu {
        display:block;
        margin-top: 2rem;
    }
    .menu a{
        display: inline;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    .ham-icon{
        display: none;
    }

  }

@media (min-width: 1350px) {
    .shop .categories{
        flex-direction: row;
    }
    .shop .categories-shop{
        flex-direction: row;
    }
  }

@media (min-width: 650px) {
    .categories .ctg{
        width: 600px;
        position: relative;
    }
    .ctg .button{
        position: absolute;
        top: 85%;
        left: 25%;
        width: 15rem;
        background-color: var(--color-hero-cta);
        opacity: 73%;
        text-decoration: none;
        text-align: center;
        color: var(--color-body-paragraph);
        border-radius: var(--img-border-radius);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .categories-shop .ctg-shop{
        width: 600px;
        position: relative;
    }
    .ctg-shop .button{
        position: absolute;
        top: 85%;
        left: 30%;
        width: 15rem;
        background-color: var(--color-hero-cta);
        opacity: 73%;
        text-decoration: none;
        text-align: center;
        color: var(--color-body-paragraph);
        border-radius: var(--img-border-radius);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}


/*horizontal*/ 
  @media (max-height: 600px) {
    .separator-container {
      background-image: url('Images/Man-bicycle.jpg');
      min-height: 150vh
    }
  }



  


  



  
