@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: #1F3D47;
    line-height: 1.6;
    text-align: left;
}
h1{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 800;
    font-size: 3rem;
    color: #245654;
    line-height: 1.1;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 700;
    font-size: 2.25rem;
    color: #245654;
    margin: 0;
}
h3{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1F3D47;
}
a{
    text-decoration: none;
    color: #1F3D47;
}
img{
    border-radius: 1.25rem;  
}
.logo_image{
    border-radius: 0;
    float: left;
    max-width: 10vW;
    max-height: 10vh;
    padding: 0.3rem;
}
.fa-solid{
    color: #FFF;
}
.cta-button{
    background-color: #F14B4B;
    color: #FFF;
    text-decoration: none;
    border-radius: 1.25rem;
    padding: 0.75rem 4.25rem;
}

/* Navigation on page */
.nav-page a{
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: #1F3D47;
}
.nav-page a:hover {
    text-decoration: none;
}
.nav-page li{
    padding: 0;
}
.nav-page .active{
    text-decoration: underline;
}
.payment .active{
    text-decoration: underline;
}

  /* Header */
header{
    display: flex;
    align-items:center;
    background-color:#245654;
}
header a{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    margin-right: 1.6rem;
}
nav{
    margin-left: 2.8rem;
}
nav ul {
    padding: 0px;
    margin: 0px;
}
nav li{
    display: inline-block;
}
nav a:hover {
    text-decoration: underline;
}
.search-input{
    height: 36px;
    width: 200px;
    border: 1px solid #FFF;
    border-radius: 20px;
    background: none;
    outline: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 1rem;
    float: left;
    line-height: 40px;
}
.search-box ::placeholder{
    color: #FFF;
    font-weight: 200;
}

/* Separator */
.separator{
    position: relative;
    background-image: url('Images/Man-bicycle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center;
    min-height: 45vh
}
.separator-content{
    position: absolute;
    left: 3.5rem;
    margin-top: 2.4rem;
}
.separator h2{
    color: #FFF;
    margin-bottom: 0.3rem;
    margin-top: 0rem;
}
.separator p{
    color: #FFF;
    margin-top: 0rem;
    margin-bottom: 1.8rem;
}
.separator .cta-button{
    margin-top: 0rem;
}
/* Sign up */
.sign-up{
    display: flex;
}
.sign-up>*{
    flex: 1;
}
.sign-up-image{
    border-radius: 0px;
    width: 50vw;
}
.sign-up-form{
    background-color: #F6EFD7;
}

/* Footer */
footer{
    background-color: #245654;
    font-weight: 600;
    color: #FFF;
    padding-top: 0px;
    padding-bottom: 0px;
}
footer a{
    font-weight: 400;
    text-decoration: none;
    padding: 45px;
    color: #FFF;
}
footer a:hover{
    text-decoration: underline;
}
footer ul{
    list-style: none;
}

.footer-col{
    padding-top: 64px;
}
.footer-under{
    font-weight: 400;
}

/* Home page */
.hero-home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Hiking-in-the-Rain-Quotes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 110vh
}
.hero-home-item{
    margin: 2.4rem;
}
.hero-home h1{
    color: #FFF;
    margin: 0px;
}
.section-name{
    margin-top: 5.2rem;
    margin-left: 3.5rem;
}
.categories{
    position: relative;
    display: flex;
    justify-content: flex-start;;
}
.ctg{
    flex: 1;
    position: relative;
    margin: 1.2rem 1rem 6rem  3.5rem;
    width: 100%;
    max-width: 21rem;
    justify-content: center;
}
.ctg img{
    width: 100%;
    height: auto;
}
.ctg .button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    opacity: 73%;
    text-decoration: none;
    color: #1F3D47;
    border-radius: 20px;
    padding: 12px
}
.categories-shop{
    position: relative;
    display: flex;
    justify-content: flex-start;;
}
.ctg-shop{
    flex: 1;
    position: relative;
    margin: 1.2rem 1rem 6rem  3.5rem;
    width: 100%;
    max-width: 640px;
    justify-content: center;
}
.ctg-shop img{
    width: 100%;
    height: auto;
}
.ctg-shop .button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    opacity: 73%;
    text-decoration: none;
    color: #1F3D47;
    border-radius: 20px;
    padding: 12px
}
.ctg-shop .button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    text-decoration: none;
    color: #1F3D47;
}

/* All jackets page */
.hero-shop {
    background-image: url('Images/Men-ski.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    min-height: 70vh
}
.hero-shop h1{
    color: #FFF;
    text-align: center;
    margin: 0px;
    padding-top: 35vh;
    left: 50%;
}

/* Check out page */
input{
    display: block;
    border: 1px solid #1F3D47;
}
.cta-pay{
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    background-color: #F14B4B;
    color: #FFF;
    text-decoration: none;
    border: 0px;
}

