@import "media.css";
@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: var(--text-paragraph), serif, monospace;
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph);
    font-style: normal;
    color: var(--color-body-paragraph);
    line-height: 1.6;
    text-align: left;
}
.page-wrapper{
    background-color: var(--color-hero-cta);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page-header{
    background-color: var(--color-hero-cta);
}    

.page-main{
    background-color: var(--color-hero-cta);
    flex-grow: 1;
}
.page-footer{
    background-color: var(--color-hero-cta);
}
.container{
    background-color: var(--color-header-footer);
    height: 100%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.page-main .container{
    background-color:#F6EFD7;}

h1{
    font-family: var(--text-header), sans-serif, serif, monospace;
    font-weight: 800;
    font-size: 3rem;
    color: var(--color-header-footer);
    line-height: 1.1;
    text-align: center;
    margin: 0;
}
h2{
    font-family: var(--text-header), sans-serif, serif, monospace;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--color-header-footer);
    margin: 0;
}
h3{
    font-family: var(--text-header), sans-serif, serif, monospace;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-body-paragraph);
    margin: 1rem auto;
}
a{
    text-decoration: none;
    color: var(--color-body-paragraph);
}
img{
    border-radius: var(--img-border-radius);  
}
p{
    margin: 1rem auto;
}

.logo_image{
    border-radius: 0;
    float: left;
    max-width: 8rem;
    max-height: 4.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.fa-solid, .fa-brands{
    color: var(--color-hero-cta);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.cta-button{
    background-color: var(--color-cta-button);
    color: var(--color-hero-cta);
    text-align: center;
    border-radius: var(--img-border-radius);
    padding: 0.75rem 4.25rem;
}
ul{
    padding: 0;
    margin: 0;
}

/* Navigation on page */
.nav-page{
    margin:0 ; 
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}


.nav-page a{
    font-family: var(--text-paragraph), serif, monospace;
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph);
    font-style: normal;
    color: var(--color-body-paragraph);
}

.nav-page a:hover {
    text-decoration: none;
}

.nav-page .active{
    text-decoration: underline;
}


  /* Header */
.header-container{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.header-container-icons{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.header-container-icons .fa-solid{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.menu, 
#sidebar-active {
    display: none;
}
#sidebar-active:checked ~ .menu {
    display: block;
}
.menu{
    margin-top: 4rem;
}
.menu a{
    display: flex;
    flex-direction: column;
    
    color: var(--color-hero-cta);
    margin-top: 2rem;
}
.ham-icon{
    margin-top: 32px;
}

/* Separator */
.separator-container{
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('Images/Man-bicycle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 45vh;
    margin: 3rem 0 0 0;

}


.separator-item{
    position: absolute;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    margin-left: 3.5rem;
}
.separator-container h2{
    color: var(--color-hero-cta);
    margin-bottom: 0.3rem;
    margin-top: 0rem;
}
.separator-container p{
    color: var(--color-hero-cta);
    margin-top: 0rem;
    margin-bottom: 1.8rem;
}
.separator-container .cta-button{
    margin-top: 0rem;
}
/* Footer */

footer p{
    text-align: center;
}
footer a{
    font-weight: var(--text-weight-paragraph);
    text-decoration: none;
    color: var(--color-hero-cta);
}
footer a:hover{
    text-decoration: underline;
}
footer ul{
    list-style: none;
}
footer li{
    text-align: center;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-hero-cta);
}

.footer-container-item{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;

}
.social-icons{
    margin-top: 1.25rem;
   
  
}
.social-icons a{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.under-container{
    font-weight: var(--text-weight-paragraph);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
}


.under-item{
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.payment-icons i{
    margin-left: 1.2rem;
    margin-right: 1.2rem

}
/* Home page */
.hero-home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Hiking-in-the-Rain-Quotes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 110vh
}

.hero-home-item{
    margin: 2.4rem;
}
.hero-home h1{
    color: var(--color-hero-cta);
    margin: 0px;
}
.section-name{
    display: flex;
    margin: 3rem 3rem 1rem 3rem;

}
.shop{
    display:flex;
    flex-direction: column;

}
.categories{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 1024px){
    .shop .categories{
        flex-direction: column;
    }
   
    .shop .categories-shop{
        flex-direction: column;
    }
   
}

.ctg{
    flex: 1;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

    
.ctg img{
    width: 100%;
    height: auto;
}
.ctg .button{
    position: absolute;
    top: 82%;
 
    width: 15rem;
    background-color: var(--color-hero-cta);
    opacity: 73%;
    text-decoration: none;
    text-align: center;
    color: var(--color-body-paragraph);
    border-radius: var(--img-border-radius);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}



.categories-shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
   
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}

.ctg-shop{
    flex: 1;
    max-width: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ctg-shop img{
    width: 100%;
    height: auto;
}
.ctg-shop .button{
    position: absolute;
    top: 84%;
    width: 15rem;
    background-color: var(--color-hero-cta);
    opacity: 73%;
    text-decoration: none;
    text-align: center;
    color: var(--color-body-paragraph);
    border-radius: var(--img-border-radius);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}


/* All jackets page */
.hero-shop {
    background-image: url('Images/Men-ski.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 70vh
}

.hero-shop h1{
    color: var(--color-hero-cta);
    text-align: center;
    margin: 0px;
    padding-top: 35vh;
    left: 50%;
}
.products{
    display:flex;
    flex-direction: column;

}
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
   
    margin-left: 3rem;
    margin-right: 3rem;
}

@media(max-width: 680px){
    .product-container{
        flex-direction: column;
    }    
}

.product-item{
    flex: 1;
    max-width: 600px;
 
}
.product-item img{
    width: 100%;
    height: auto;
}

/* About us */
.about{
    display: flex;
    flex-direction: column;
}
.cta-section{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.cta-section h2{
    margin-bottom: 3rem;
}

.about-content{
    margin: 3rem 3rem 0 3rem;
}

/* Product card*/
.product-info{
    margin: 0 3rem 3rem 3rem;
}
.product-info-content img{
    height: 100%;
}
.product-info-content{
    display: flex;
    gap: 8rem
}
.product-info-content>*{
    flex: 1;
}

.product-info-content-right{
    text-align: left;
}
.product-info-content-right input{
    display: inline;
    width: 2rem;

}
.product-info-content-right fieldset{
    border: none;
    margin: 2rem 0 2rem 0;
    padding-left: 0;
    padding-right: 0;
}
.product-info-content-right .cta-pay{
    font: var(--text-paragraph), serif, monospace;
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph);
    border: none;
    background-color: var(--color-cta-button);
    color: var(--color-hero-cta);
    text-align: center;
    border-radius: var(--img-border-radius);
    padding: 0.75rem 4.25rem;
    width: 15rem;
    margin-bottom: 3rem;
    margin-bottom: 2rem;
    margin-left: 0;
}

/* Shopping cart */
.page-name{
    margin-bottom: 4rem;
}
select{
    width: 60px;
    height: 40px;
    font-weight: 200;
    font-size: 1rem;
}

.price{
    color: var(--color-cta-button);
}
.shop-cart{
    margin: 2rem 0 3rem 0;
}


/* Also like */
.also{
    margin-bottom: 3rem;
}
.also-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}
.also-item{
    width: 456px;

}
.also-container img:hover{
    opacity: 30%;
}
/* Check out page */


.checkout-info{
    margin: 0 3rem 3rem 3rem;
}

.checkout-info-content img{
    max-width: 15rem;
    max-height: 15.5rem;
    margin-top: 1rem;
    max-width: 200px;
    height: 200px;
    
}
.checkout-info-content-right .product-info-content-right{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 2rem 1rem 2rem;
}
.checkout-info-content-right .product-info-content-right>*{
    flex: 1;
}
@media (max-width:680px){
    .checkout-info-content-right .product-info-content-right{
        flex-direction: column;
    }
}
.checkout-info-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     gap: 4rem;
}

.checkout-info-content>*{
    flex: 1;
}
   
.checkout-info-content-right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid var(--color-body-paragraph);
    border-radius: 1.25rem;
    background-color: var(--color-hero-cta);
    margin-left: 1rem;
    margin-right: 1rem;
}
input{
    display: block;
    border: 1px solid var(--color-body-paragraph);
}
.checkout-info-content form{
    margin-left: 1rem;
}
   
.checkout-info-content input{
    border: 1px solid #1F3D47;

    padding: 10px;
}     
    
        
      

.checkout-info-content .cta-pay{
    font: var(--text-paragraph), serif, monospace;
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph);
    border: none;
    background-color: var(--color-cta-button);
    color: var(--color-hero-cta);
    text-align: center;
    border-radius: var(--img-border-radius);
    padding: 0.75rem 4.25rem;
    width: 15rem;
    margin-bottom: 3rem;
    margin-bottom: 2rem;
    margin-left: 0;

    
}
.contact-info-right img{
    max-width: 10rem;
}
.order-total{
    flex: 1;
    
}
.order{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}
fieldset{
    border: none;
}
.payment fieldset{
    display: flex;
    flex-direction: column;
}
.payment .pay-method{
    display: inline;
}

/* Contact page */
.contact-form input{
    border: 1px solid #1F3D47;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    
  }
  
  textarea {
    height: 65%;
    border: 1px solid #1F3D47;
    margin: 10px 0 10px 0px;
    padding: 10px;
  }
  
  .contact-form{
    display: flex;
    text-align: left;
    margin: 3rem 3rem 3rem 3rem;
  }
  @media (max-width: 1150px){
    .contact-form{
        flex-direction: column;
    }
  }

  
  .contact-form > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
 
  .contact-info{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .contact-message{
      margin-left: 2rem;
      margin-right: 2rem;
  }
  .contact-container .cta-pay{
    font: var(--text-paragraph), serif, monospace;
    font-weight: var(--text-weight-paragraph);
    font-size: var(--text-size-paragraph);
    border: none;
    background-color: var(--color-cta-button);
    color: var(--color-hero-cta);
    text-align: center;
    border-radius: var(--img-border-radius);
    padding: 0.75rem 4.25rem;
    width: 15rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    
}

/*coming soon page*/
.coming-container{
    display: flex;
    flex-direction: column;
}
.cta-section{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.coming-container h1{
    margin-top: 3rem;
}
.coming-container p{
    margin-top: 1rem;
}
.social-links{
    margin-top: 3rem;
}
.social-links .fa-brands{
    color: var(--color-body-paragraph);
}

/* Confirm order */
.confirm-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.confirm-container h1{
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.confirm-container p{
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}