@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: #1F3D47;
    line-height: 1.6;
    text-align: left;
}
.page-wrapper{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page-header{
    background-color: #FFF;
}    

.page-main{
    background-color: #FFF;
    flex-grow: 1;
}
.page-footer{

    background-color:#FFF;
}
.container{
    background-color:#245654;
    height: 100%;
    max-width: 1800px;
    margin: 0 auto;

}
.page-main .container{
    background-color:#F6EFD7;
}
h1{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 800;
    font-size: 3rem;
    color: #245654;
    line-height: 1.1;
    text-align: center;
    margin: 0;
}
h2{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 700;
    font-size: 2.25rem;
    color: #245654;
    margin: 0;
}
h3{
    font-family: 'Montserrat', sans-serif, serif, monospace;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1F3D47;
    margin: 10px auto;
}
a{
    text-decoration: none;
    color: #1F3D47;
}
img{
    border-radius: 1.25rem;  
}
p{
    margin: 10px auto;
}

.logo_image{
    border-radius: 0;
    float: left;
    max-width: 8rem;
    max-height: 4.8rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.fa-solid{
    color: #FFF;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.cta-button{
    background-color: #F14B4B;
    color: #FFF;
    text-align: center;
    border-radius: 1.25rem;
    padding: 0.75rem 4.25rem;
}
ul{
    padding: 0;
    margin: 0;
}

/* Navigation on page */
.nav-page{
    margin:3rem 2rem 3rem 2rem ;
    display: inline-flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .nav-page{
        flex-direction: column;
        gap: 1.2rem
    }    
   
  }
.nav-page a{
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: #1F3D47;
}

.nav-page a:hover {
    text-decoration: none;
}

.nav-page .active{
    text-decoration: underline;
}
.payment .active{
    text-decoration: underline;
}

  /* Header */
.header-container{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.header-container-icons{
    margin-top: 2rem;
}

.menu, 
#sidebar-active {
    display: none;
}
#sidebar-active:checked ~ .menu {
    display: block;
}
.menu{
    margin-top: 4rem;
}
.menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    margin-top: 2rem;
}
.ham-icon{
    margin-top: 32px;
}

@media (min-width: 1150px) {
    .fa-solid{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }    
    .header-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .menu {
        display:block;
        margin-top: 2rem;
    }
    .menu a{
        display: inline;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    .ham-icon{
        display: none;
    }
  }
 
/* Separator */
.separator-container{
    position: relative;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('Images/Man-bicycle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 45vh
}
@media (max-width: 600px) {
    .separator-container {
      background-image: url('Images/Man-bicycle-mobile.jpg');
      min-height: 100vh
    }
  }
  @media (max-height: 600px) {
    .separator-container {
      background-image: url('Images/Man-bicycle.jpg');
      min-height: 150vh
    }
  }


.separator-item{
    position: absolute;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    margin-left: 3.5rem;
}
.separator-container h2{
    color: #FFF;
    margin-bottom: 0.3rem;
    margin-top: 0rem;
}
.separator-container p{
    color: #FFF;
    margin-top: 0rem;
    margin-bottom: 1.8rem;
}
.separator-container .cta-button{
    margin-top: 0rem;
}
/* Footer */
footer{
    background-color: #245654;
    font-weight: 600;
    color: #FFF;
}
footer p{
    text-align: center;
}
footer a{
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
}
footer a:hover{
    text-decoration: underline;
}
footer ul{
    list-style: none;
}
footer li{
    text-align: center;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  }
.footer-container-item{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;

}
.social-icons{
    margin-top: 1.25rem;
   
  
}
.social-icons a{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.under-container{
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}
@media (max-width: 600px) {
    .under-container {
        flex-direction: column;
        align-items: center;
    }
  }
.under-item{
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.payment-icons a{
    margin-left: 1.2rem;
    margin-right: 1.2rem

}
/* Home page */
.hero-home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Hiking-in-the-Rain-Quotes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 110vh
}
@media (max-width: 600px) {
    .hero-home {
      background-image: url('Images/Hiking-in-the-Rain-Quotes:mobile.jpg');
    }
  }
@media (max-width: 1024px) {
    .hero-home {
      background-image: url('Images/Hiking-in-the-Rain-Quotes-tablet.jpg');
    }
  }
.hero-home-item{
    margin: 2.4rem;
}
.hero-home h1{
    color: #FFF;
    margin: 0px;
}
.section-name{
   
}
.categories{
    display: flex;
    gap: 1rem;
}
.ctg{
    position: relative;

}
.ctg img{
    width: 100%;
    height: auto;
}
.ctg .button{
    position: absolute;
    top: 85%;
    left: 25%;
    width: 15rem;
    background-color: #FFF;
    opacity: 73%;
    text-decoration: none;
    text-align: center;
    color: #1F3D47;
    border-radius: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.categories-shop{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.2rem;

}
.ctg-shop{
    width: 690px;
    height: 592px;
    flex: 1;
    position: relative;
}
.ctg-shop img{
    width: 100%;
    height: auto;
}
.ctg-shop .button{
    position: absolute;
    top: 85%;
    left: 35%;
    width: 15rem;
    background-color: #FFF;
    opacity: 73%;
    text-decoration: none;
    text-align: center;
    color: #1F3D47;
    border-radius: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/* All jackets page */
.hero-shop {
    background-image: url('Images/Men-ski.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-height: 70vh
}
@media (max-width: 600px) {
    .hero-shop {
      background-image: url('Images/Men-ski-mobile.jpg');
    }
  }
  @media (max-width: 1024px) {
    .hero-shop {
      background-image: url('Images/Men-ski-tablet.jpg');
    }
  }
.hero-shop h1{
    color: #FFF;
    text-align: center;
    margin: 0px;
    padding-top: 35vh;
    left: 50%;
}
.women-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
}
.women-item{
    width: 456px;
}
.men-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
}
.men-item{
    width: 456px;
}
.wint-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
}
.wint-item{
    width: 456px;
}
.wat-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
}
.wat-item{
    width: 456px;
}
.wind-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
}
.wind-item{
    width: 456px;
}
.women-container img:hover{
    opacity: 30%;
}
.men-container img:hover{
    opacity: 30%;
}
.wint-container img:hover{
    opacity: 30%;
}
.wat-container img:hover{
    opacity: 30%;
}
.wind-container img:hover{
    opacity: 30%;
}
/* Check out page */
input{
    display: block;
    border: 1px solid #1F3D47;
}
.cta-pay{
    font-family: "Hind Madurai", serif, monospace;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    background-color: #F14B4B;
    color: #FFF;
    text-decoration: none;
    border: 0px;
}
/* About us */
.cta-section{
    text-align: center;
    margin-bottom: 96px;
}
.cta-section h2{
    margin-bottom: 56px;
}
.about-content{
    margin: 83.2px 56px;
}

/* Product card*/
.product-info{
   text-align: center;
   margin-left: 56px;
   margin-right: 56px;
}
.product-info-content img{

    height: 100%;
}
.product-info-content{
    display: flex;
}
.product-info-content>*{
    flex: 1;
}
.product-info-content-right{
    text-align: left;
    margin-left: 130px;
}
.product-info-content-right input{
    display: inline;
    width: 30px;

}
.product-info-content-right fieldset{
    border: none;
    margin: 32px 0 px 0;
    padding-left: 0;
    padding-right: 0;
}
.product-info-content-right .cta-pay{
    background-color: #F14B4B;
    color: #FFF;
    text-align: center;
    border-radius: 1.25rem;
    padding: 0.75rem 4.25rem;
    width: 15rem;
}

.also-container{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 56px;
    margin-right: 56px;
}
.also-item{
    width: 456px;

}
.also-container img:hover{
    opacity: 30%;
}
/* Shopping cart */
select{
    width: 60px;
    height: 40px;
    font-weight: 200;
    font-size: 1rem;
}

/* Contact page */
.contact-form input{
  border: 1px solid #1F3D47;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  
}

textarea {
  height: 65%;
  border: 1px solid #1F3D47;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.contact-form{
  display: flex;
  text-align: left;
}

.contact-form > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
input.cta-button{
    border: none;
    margin-left: 56px;
}
.contact-info{
    margin-left: 56px;
    margin-right: 10px;
}
.contact-message{
    margin-right: 56px;
    margin-left: 10px;
}